#orders-table {
  margin-top: 3%;
  width: 100%;
  border: 2px solid limegreen;
  border-collapse: collapse;
  text-align: center;
}

#orders-table tr {
  background-color: #000;
}

#orders-table th {
  border-bottom: 2px solid limegreen;
  font-size: 1.2em;
}

#orders-table :is(td,th) {
  border-right: 2px solid limegreen;
  border-left: 2px solid limegreen;
  height: 40px;
}

#orders-table .table-orders-row-even {
    background-color: #113300;
}

.collum-selected {
  color: limegreen;
}

#orders-table thead tr th span {
  cursor: pointer;
}

.orders-table-footer {
  padding: 8px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.orders-table-footer-button {
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.orders-table-footer-active-button {
  color: #000;
  background: lime;
}

.orders-table-footer-inactive-button {
  color: #ddd;
  background: #000;
}
