footer {
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 0;
    border-top: 2px solid lime;
    background-color: #222;
}

footer p {
    margin-right: 5%;
}

footer a {
    color: lime;
}

footer a:hover {
    color: limegreen;
}