:root {
    --block-width: 180px;
}

#sellers-total {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--block-width), max-content));
  width: 100%;
  justify-content: center;
  grid-gap: 10px;
}

.sellers-total-block {
  border: 2px solid limegreen;
  background-color: #111;
  width: var(--block-width);
  height: 50px;
  padding: 10px;
}

.sellers-total-first-line {
  text-align: left;
  font-size: 1.25em;
  margin: 0;
}

.sellers-total-second-line {
  margin: 0;
  text-align: right;
  font-size: 1.7em;
}
